/*.App {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  flex-wrap: wrap;*/
/*}*/

/*.App > div {*/
/*  margin-right: 50px;*/
/*}*/

/*.todoItems{*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  flex-wrap: wrap;*/
/*}*/
/*.oneTodo{*/
/*  margin: 10px;*/
/*}*/
