.imgLogOut {
    cursor: pointer;

    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.imgLogOut:hover {
    transform: translateY(-1px);
}

.toolbarBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.loginBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
