.imgLogOut {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 10px;
}

.imgLogOut:hover {
    transform: translateY(-1px);
}

.toolbarBlock {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.loginBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}