.editableItem{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

span{
    font-size: 18px;
    font-weight: 600;
}