.todoBlock {
  width: 25vh;
  height: max-content;
  display: flex;
  flex-direction: column;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.taskDescription {
  height: 20px;
  padding: 10px 5px;
  color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.todoIMG {
  height: 10vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 20px;
}

.countTask {
  width: 25px;
  height: 25px;
}

.value {
  font-weight: 400;
  font-size: 15px;
}

.dateValue {
  width: 20px;
  height: 20px;
}

.textError {
  color: red;
}

.inputError {
  border: 1px solid red;
}
